$bg-color: #c2c2d6;

$nav-bar-bg: #3d3d5c;

$card-header: #666699;

body {
  background-color: $bg-color;
}

.card-header {
  z-index: 2;
  background-color: $card-header;
}

nav.navbar {
  background-color: $nav-bar-bg;
}

footer {
  position: absolute;
  width: 100%;
  bottom: 0; /* stick to bottom */
  background-color: $card-header;
}
